<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="theme.css">
  <title>Vue3 todo</title>
</head>
<body>

<div id="root" class="container">
  <div class="card">
    <h2 :style="{ color: inputValue.length < 5 ? 'darkRed' : 'darkBlue' }">{{ title }}</h2>
    <div class="form-control">
      <input
          type="text"
          :value='inputValue'
          :placeholder='placeholderMessage'
          v-model='inputValue'
          @keypress.enter='addTodo'
      />
    </div>
    <button class="btn" @click='addTodo'>Add todo</button>
    <hr>
    <ul class="list" v-if='todos.length !== 0'>
      <li class="list-item" v-for="(todo, idx) in todos">
<!--        <span :class="todo.length > 5 ? null : 'bold'">({{ idx + 1 }}) {{ todo }}</span>-->
<!--        <span :class="{'primary': true}">({{ idx + 1 }}) {{ todo }}</span>-->
        <span :class="['bold', { 'primary' : todo.length > 5 }]">({{ idx + 1 }}) {{ todo }}</span>
        <button class="btn danger" @click='removeTodo(idx)'>
          Delete
        </button>
      </li>
      <hr>
      <li>
        <div style='display: flex; justify-content: space-between'>
          <strong>Amount todos: {{ todos.length }}</strong>
          <button class="btn danger" @click='removeAll'>Delete all</button>
        </div>
      </li>
    </ul>
    <div v-else>{{ emptyListMessage }}</div>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>